<?xml version="1.0" encoding="UTF-8"?>

<mappings xmlns="http://dozermapper.github.io/schema/bean-mapping"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozermapper.github.io/schema/bean-mapping
          https://dozermapper.github.io/schema/bean-mapping.xsd">

    <!--<configuration>
        <stop-on-errors>true</stop-on-errors>
        <date-format>yyyy.MM.dd HH:mm:ss'T'Z</date-format>
        <wildcard>true</wildcard>
    </configuration>-->


    <!--<mapping>
        <class-a>A</class-a>
        <class-b>B</class-b>
        <field>
            <a  date-format="yyyyMMddHHmmss">filedA</a>
            <b>filedB</b>
        </field>
    </mapping>-->
</mappings>
