<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>用户管理</title>
    <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css"
          th:href="@{/assets/bootstrap/css/bootstrap.min.css}"/>
    <!-- The link to the CSS that the grid needs -->
    <!--<link rel="stylesheet" type="text/css" media="screen" href="../../static/assets/DataTables/datatables.min.css"
          th:href="@{/assets/DataTables/datatables.min.css}"/>-->
    <link rel="stylesheet" type="text/css" media="screen"
          href="../../static/assets/DataTables/DataTables-1.10.21/css/dataTables.bootstrap4.min.css"
          th:href="@{/assets/DataTables/DataTables-1.10.21/css/dataTables.bootstrap4.min.css}"/>
    <script src="../../static/assets/jquery-3.5.1.min.js"
            th:src="@{/assets/jquery-3.5.1.min.js}"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<nav class="navbar navbar-expand-lg navbar-light static-top sb-navbar">
    <div class="container">
        <a class="navbar-brand">OAuth2 后台管理</a>
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="navbar-collapse collapse" id="navbarResponsive" style="">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="dropdownThemes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Themes</a>
                     <div class="dropdown-menu" aria-labelledby="dropdownThemes">
                         <a class="dropdown-item" href="#">
                             <i class="fa fa-star"></i>
                             Most Popular</a>
                         <div class="dropdown-divider"></div>
                         <a class="dropdown-item" href="#">Full Websites</a>
                     </div>
                 </li>-->
                <li class="nav-item">
                    <a class="nav-link active" href="/management/client/">应用接入管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/management/user/">用户管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">退出</a>
                </li>
            </ul>
            <!--<ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/sbootstrap">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/sbootstrap">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
            </ul>-->
        </div>
    </div>
</nav>
<div class="container mt-3">
    <section>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content gridContainer">
                <table id="myTable" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>clientId</th>
                        <th>scope</th>
                        <th style="width: 100px;">authorizedGrantTypes</th>
                        <th>webServerRedirectUri</th>
                        <th>authorities</th>
                        <th>remarks</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                </table>
                <br/>
                <button type="button" class="btn btn-info" id="createNew">添加新纪录</button>

            </section>
            <section class="content">
                <form class="d-none" id="detailsForm">

                    <input type="hidden" value="" id="id"/>

                    <div class="form-group row">
                        <label for="clientId" class="col-2 control-label text-right">clientId</label>
                        <div class="col-6">
                            <input type="text" class="form-control" id="clientId" placeholder="clientSecret"
                                   required="clientId"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="clientSecret" class="col-2 control-label text-right">clientSecret</label>
                        <div class="col-6">
                            <input type="text" class="form-control" id="clientSecret" placeholder="clientSecret"
                                   required="required"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="scope" class="col-2 control-label text-right">scope</label>
                        <div class="col-6">
                            <input type="text" class="form-control" id="scope" placeholder="scope" required="required"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="authorizedGrantTypes"
                               class="col-2 control-label text-right">authorizedGrantTypes</label>
                        <div class="col-6">
                            <input type="text" class="form-control" id="authorizedGrantTypes"
                                   placeholder="authorizedGrantTypes" required="required"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="webServerRedirectUri"
                               class="col-2 control-label text-right">webServerRedirectUri</label>
                        <div class="col-6">
                            <input type="text" class="form-control" id="webServerRedirectUri"
                                   placeholder="webServerRedirectUri" required="required"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="authorities" class="col-2 control-label text-right">authorities</label>
                        <div class="col-6">
                            <input type="text" class="form-control" id="authorities" placeholder="authorities"
                                   required="required"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="remarks" class="col-2 control-label text-right">remarks</label>
                        <div class="col-6">
                            <input type="text" class="form-control" id="remarks" placeholder="remarks"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 control-label"></label>
                        <div class="col-6">
                            <button type="submit" class="btn btn-info mr-5" id="update">保存</button>
                        </div>
                    </div>
                </form>
            </section>
            <!-- /.content -->
            <!-- /.content -->
        </div>
    </section>
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
</footer>

<script src="../../static/assets/bootstrap/js/bootstrap.min.js"
        th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../static/assets/moment-with-locales.min.js"
        th:src="@{/assets/moment-with-locales.min.js}"></script>
<script th:src="@{/assets/localforage.min.js}" src="../static/assets/localforage.min.js"></script>

<script type="text/javascript" charset="utf8" src="../../static/assets/DataTables/datatables.min.js"
        th:src="@{/assets/DataTables/datatables.min.js}"></script>
<script type="text/javascript" charset="utf8"
        src="../../static/assets/DataTables/DataTables-1.10.21/js/dataTables.bootstrap4.min.js"
        th:src="@{/assets/DataTables/DataTables-1.10.21/js/dataTables.bootstrap4.min.js}"></script>

<th:block th:inline="javascript">
    <script>

        function formatBoolean(cellValue, options, rowObject) {
            if (cellValue == null || cellValue == "") {
                return "";
            } else if (cellValue == true) {
                return "是";
            } else {
                return "否";
            }
        }

        function formatStatus(cellValue, options, rowObject) {
            if (cellValue === null || cellValue === "") {
                return "";
            } else if (Number(cellValue) == -1) {
                return "是";
            } else {
                return "否";
            }
        }

        function formatDate(cellValue) {
            if (cellValue != null && cellValue != "") {
                var day = moment(cellValue);
                var formatted = day.format("YYYY-MM-DD HH:mm");
                return formatted;
            } else {
                return "";
            }

        }

        $(document).ready(function () {

            var table = $('#myTable').DataTable({
                paging: true,
                serverSide: true,
                orderMulti: false,
                searching: false,
                responsive: true,
                ajax: {
                    xhrFields: {withCredentials: true},
                    crossDomain: true,
                    url: '/management/client/list',
                    dataSrc: 'data',
                    data: function (data) {
                        var columnIndex, sortOrder, sortField;
                        for (var i = 0, len = data.order.length; i < len; i++) {
                            columnIndex = data.order[i].column;
                            sortOrder = data.order[i].dir;
                        }
                        delete data.order;
                        for (var i = 0, len = data.columns.length; i < len; i++) {
                            if (i == columnIndex) {
                                sortField = data.columns[i].data;
                            }
                        }
                        delete data.columns;

                        if (data.search.value) {
                            data.searchValue = data.search.value;
                        }

                        delete data.search;

                        data.sortField = sortField;
                        data.sortOrder = sortOrder;
                        console.log("sortField===" + sortField);
                        console.log("sortOrder===" + sortOrder);
                    }
                },
                columns: [
                    {data: 'id'},
                    {data: 'clientId'},
                    {data: 'scope', bSortable: false},
                    {
                        data: 'authorizedGrantTypes',
                        bSortable: false,
                        render: function (data, type, row) {
                            var gts = data.split(",");
                            var result = "";
                            for (var j = 0; j < gts.length; j++) {
                                result = result + gts[j] + "\n";
                            }
                            return result;
                        }
                    },
                    {data: 'webServerRedirectUri', bSortable: false},
                    {data: 'authorities', bSortable: false},
                    {data: 'remarks', defaultContent: "", bSortable: false},
                    {
                        data: 'dateCreated',
                        render: function (data, type, row) {
                            return formatDate(data);
                        }
                    }
                ],
                columnDefs: [
                    {
                        "targets": [8],
                        "data": "id",
                        "render": function (data, type, row, meta) {
                            var btnString = "";
                            if (row.recordStatus < 0) {
                                btnString = "<button class='btn btn-secondary btn-sm btn-status' data-client-id='" + data + "' data-record-status='" + row.recordStatus + "'>启用</button>";
                            } else {
                                btnString = "<button class='btn btn-success btn-sm btn-status' data-client-id='" + data + "' data-record-status='" + row.recordStatus + "'>禁用</button>";
                            }
                            btnString += "&nbsp;&nbsp;&nbsp;<button class='btn btn-primary btn-sm btn-edit' data-client-id='" + data + "'>编辑</button>";
                            return btnString;
                        }
                    }
                ]
            });

            $("#createNew").click(function () {
                $("#id").val("0");
                $("#clientId").val('');
                $("#clientSecret").val('');
                $("#scope").val("");
                $("#authorizedGrantTypes").val("");
                $("#webServerRedirectUri").val("");
                $("#authorities").val("");
                $("#remarks").val("");
                $("#detailsForm").removeClass("d-none");
                $("#message").removeClass("bg-danger").html("");
                $("#message").removeClass("bg-success").html("");
            });

            $("#myTable").on("click", ".btn-edit", function () {
                var clientId = $(this).data("client-id");
                $("#detailsForm").removeClass("d-none");
                var url = "/management/client/details?id=" + clientId;
                $.get(url, function (data) {
                    $("#id").val(data.id);
                    $("#clientId").val(data.clientId);
                    $("#clientSecret").val('');
                    $("#scope").val(data.scope);
                    $("#authorizedGrantTypes").val(data.authorizedGrantTypes);
                    $("#webServerRedirectUri").val(data.webServerRedirectUri);
                    $("#authorities").val(data.authorities);
                    $("#remarks").val(data.remarks);
                    $("#message").removeClass("bg-danger").html("");
                    $("#message").removeClass("bg-success").html("");
                });
            });


            $("#detailsForm").on("submit", function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/management/client/details',
                    data: {
                        id: $("#id").val(),
                        clientId: $("#clientId").val(),
                        clientSecret: $("#clientSecret").val(),
                        scope: $("#scope").val(),
                        authorizedGrantTypes: $("#authorizedGrantTypes").val(),
                        webServerRedirectUri: $("#webServerRedirectUri").val(),
                        authorities: $("#authorities").val(),
                        remarks: $("#remarks").val()
                    },
                    success: function (data) {
                        if (data.status == 1) {
                            table.ajax.reload(null, false); // 刷新表格数据，分页信息不会重置
                            $("#createNew").trigger("click");
                            $("#detailsForm").addClass("d-none");
                            alert("保存成功!");
                        } else {
                            alert(data.message);
                        }
                    }
                });
                return false;
            });


            $("#myTable").on("click", ".btn-status", function () {
                var clientId = $(this).data("client-id");
                var deleteOperation = $(this).data("record-status");
                $.ajax({
                    type: 'POST',
                    url: '/management/client/details',
                    data: {id: clientId, deleteOperation: deleteOperation},
                    success: function (data) {
                        table.ajax.reload(null, false); // 刷新表格数据，分页信息不会重置
                    }
                });

            });

        });
    </script>
</th:block>
</body>
</html>
