<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>用户管理</title>
    <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css"
          th:href="@{/assets/bootstrap/css/bootstrap.min.css}"/>
    <!-- The link to the CSS that the grid needs -->
    <!--<link rel="stylesheet" type="text/css" media="screen" href="../../static/assets/DataTables/datatables.min.css"
          th:href="@{/assets/DataTables/datatables.min.css}"/>-->
    <link rel="stylesheet" type="text/css" media="screen"
          href="../../static/assets/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css"
          th:href="@{/assets/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css}"/>
    <script src="../../static/assets/jquery-3.3.1.min.js"
            th:src="@{/assets/jquery-3.3.1.min.js}"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="container">
    <section class="mt-5">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content gridContainer">
                <table id="myTable" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>username</th>
                        <th>role</th>
                        <th>Operation</th>
                    </tr>
                    </thead>
                </table>
                <br/>
            </section>
            <section class="content">
                <form class="d-none" id="detailsForm">

                    <input type="hidden" value="" id="id"/>

                    <div class="form-group row">
                        <label for="nickName" class="col-2 control-label text-right">昵称</label>
                        <div class="col-6">
                            <input type="text" class="form-control" id="nickName" placeholder="昵称" required="required"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="password" class="col-2 control-label text-right">密码</label>
                        <div class="col-6">
                            <input type="text" class="form-control" id="password" placeholder="密码"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="address" class="col-2 control-label text-right">地址</label>
                        <div class="col-6">
                            <input type="text" class="form-control" id="address" placeholder="地址"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 control-label"></label>
                        <div class="col-6">
                            <button type="button" class="btn btn-info mr-5" id="update">保存</button>
                            <button type="button" class="btn btn-danger d-none" id="delete">禁用</button>
                        </div>
                    </div>
                </form>
            </section>
            <!-- /.content -->
            <!-- /.content -->
        </div>
    </section>
</div>
</section>
<!-- /.content-wrapper -->
<footer class="main-footer">
</footer>
</div>


<script src="../../static/assets/bootstrap/js/bootstrap.min.js"
        th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../static/assets/moment-with-locales.min.js"
        th:src="@{/assets/moment-with-locales.min.js}"></script>
<script th:src="@{/assets/localforage.min.js}" src="../static/assets/localforage.min.js"></script>

<script type="text/javascript" charset="utf8" src="../../static/assets/DataTables/datatables.min.js"
        th:src="@{/assets/DataTables/datatables.min.js}"></script>
<script type="text/javascript" charset="utf8"
        src="../../static/assets/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"
        th:src="@{/assets/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js}"></script>

<th:block th:inline="javascript">
    <script>

        function formatBoolean(cellValue, options, rowObject) {
            if (cellValue == null || cellValue == "") {
                return "";
            } else if (cellValue == true) {
                return "是";
            } else {
                return "否";
            }
        }

        function formatStatus(cellValue, options, rowObject) {
            if (cellValue === null || cellValue === "") {
                return "";
            } else if (Number(cellValue) == -1) {
                return "是";
            } else {
                return "否";
            }
        }

        function formatDate(cellValue, options, rowObject) {
            if (cellValue != null && cellValue != "") {
                var day = moment(cellValue);
                var formatted = day.format("YYYY-MM-DD HH:mm");
                return formatted;
            } else {
                return "";
            }

        }

        $(document).ready(function () {

            $('#myTable').DataTable({
                paging: true,
                serverSide: true,
                ajax: {
                    url: '/management/user/list',
                    dataSrc: 'data'
                },
                columns: [
                    {data: 'id'},
                    {data: 'username'},
                    {data: 'role', bSortable: false}
                ],
                columnDefs: [
                    {
                        "targets": [3],
                        "data": "id",
                        "render": function (data, type, full) {
                            return "<button class='btn btn-primary btn-sm btn-edit' data-user-id='" + data + "'>修改</button>";
                        }
                    }
                ]
            });


            $("#myTable").on("click", ".btn-edit", function () {
                var userId = $(this).data("user-id");
                $("#detailsForm").removeClass("d-none");
                var url = "/management/user/details?id=" + userId;
                $.get(url, function (data) {
                    $("#id").val(data.id);
                    $("#nickName").val(data.nickName);
                    $("#address").val(data.address);
                    $("#password").val('');
                    if (data.recordStatus == -1) {
                        $("#detailsForm #delete").text("启用");
                    } else if (data.recordStatus == 0) {
                        $("#detailsForm #delete").text("禁用");
                    }
                    $("#detailsForm #delete").data("record-status", data.recordStatus);
                    $("#detailsForm #delete").removeClass("d-none");
                    $("#message").removeClass("bg-danger").html("");
                    $("#message").removeClass("bg-success").html("");
                });
            });


            $("#update").click(function () {
                $.ajax({
                    type: 'POST',
                    url: '/management/user/details',
                    data: {
                        id: $("#id").val(),
                        nickName: $("#nickName").val(),
                        address: $("#address").val(),
                        password: $("#password").val()
                    },
                    success: function (data) {
                        if (data.status == 20000) {
                            $("#jqGrid").trigger("reloadGrid");
                            $("#createNew").trigger("click");
                            $("#detailsForm").addClass("d-none");
                            alert("保存成功!");
                        } else {
                            alert(data.message);
                        }
                    }
                });
            });


            $("#delete").click(function () {
                var r = confirm($("#detailsForm #delete").text() + " ?");
                if (r == true) {
                    $.ajax({
                        type: 'POST',
                        url: '/management/user/details',
                        data: {id: $("#id").val(), deleteOperation: $("#detailsForm #delete").data("record-status")},
                        success: function (data) {
                            $("#detailsForm").addClass("d-none");
                            $("#jqGrid").trigger("reloadGrid");
                            $("#createNew").trigger("click");
                        }
                    });
                }

            });

        });
    </script>
</th:block>
</body>
</html>