<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>profile setting</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css"
          th:href="@{/assets/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<section>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <form id="profileForm" action="/user/profile" method="post">
                    <div class="form-group row my-2">
                        <label class="col-3 col-form-label text-end"></label>
                        <div class="col-9">
                            <h5 class="bg-primary text-center" th:if="${updated}">更新成功</h5>
                            <h5 class="text-center alert alert-danger" th:if="${error!=null && error!=''}" th:text="${error}"></h5>
                        </div>
                    </div>

                    <div class="form-group row my-2">
                        <label for="nickName" class="col-3 col-form-label text-end">昵称</label>
                        <div class="col-9">
                            <input type="text" class="form-control" name="nickName" id="nickName"
                                   th:value="${userAccount.nickName}" placeholder="昵称">
                        </div>
                    </div>
                    <div class="form-group row my-2">
                        <label for="email" class="col-3 col-form-label text-end">邮箱</label>
                        <div class="col-9">
                            <input type="email" class="form-control" name="email" id="email"
                                   th:value="${userAccount.email}" placeholder="邮箱">
                        </div>
                    </div>
                    <div class="form-group row my-2">
                        <label for="mobile" class="col-3 col-form-label text-end">手机号</label>
                        <div class="col-9">
                            <input type="text" class="form-control" name="mobile" id="mobile"
                                   th:value="${userAccount.mobile}" placeholder="手机号">
                        </div>
                    </div>
                    <div class="form-group row my-2">
                        <label for="province" class="col-3 col-form-label text-end">省/市</label>
                        <div class="col-4">
                            <input type="text" class="form-control" name="province" id="province"
                                   th:value="${userAccount.province}" placeholder="省">
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" name="city" id="city" th:value="${userAccount.city}"
                                   placeholder="市">
                        </div>
                    </div>
                    <div class="form-group row my-2">
                        <label for="address" class="col-3 col-form-label text-end">地址</label>
                        <div class="col-9">
                            <input type="text" class="form-control" name="address" id="address"
                                   th:value="${userAccount.address}" placeholder="地址">
                        </div>
                    </div>
                    <div class="form-group row my-2">
                        <label for="birthday" class="col-3 col-form-label text-end">生日</label>
                        <div class="col-9">
                            <input type="date" class="form-control" name="birthday" id="birthday"
                                   th:value="${userAccount.birthday!=null?(#temporals.format(userAccount.birthday,'yyyy-MM-dd')):('')}"
                                   placeholder="生日 yyyy-MM-dd">
                        </div>
                    </div>
                    <div class="form-group row my-2">
                        <label class="col-3 col-form-label"></label>
                        <div class="col-9">
                            <button type="submit" class="btn btn-primary">提交</button> <a class="btn btn-sm" href="/user/changePwd">修改密码</a> <a class="btn btn-sm" href="/logout">退出</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
<script src="../static/assets/jquery.min.js"
        th:src="@{/assets/jquery.min.js}"></script>
<script src="../static/assets/bootstrap/js/bootstrap.min.js"
        th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/localforage.min.js}" src="../static/assets/localforage.min.js"></script>
</body>
</html>
