<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>sign in</title>
	<link rel="stylesheet"
		href="../static/assets/bootstrap/css/bootstrap.min.css"
		th:href="@{/assets/bootstrap/css/bootstrap.min.css}" />
	<style type="text/css">
	</style>
</head>

<body>
	<form id="signInForm" action="/security_check" method="post">
		<div class="container mt-5">
			<div class="row justify-content-center">
				<div class="col-sm-3">
					<div class="form-group row my-2 px-2 justify-content-center">
						<input type="hidden" name="graphId" id="graphId" />
						<h3 class="text-center">登录</h3>
						<p class="text-center alert alert-danger" th:if="${error!=null && error!=''}" th:text="${error}"></p>
					</div>

					<div class="form-group row my-2 px-2 justify-content-center">
						<input type="text" name="username" class="form-control"
							   id="username" required="required" placeholder="用户名" />
					</div>
					<div class="form-group row my-2 px-2 justify-content-center">
						<input type="password" name="password" class="form-control"
							   id="password" required="required" placeholder="密　码" />
					</div>
					<div class="form-group row my-2 px-2 justify-content-center" th:if="${passwordCaptcha}">
						<div class="col-6 p-0">
							<input type="text" name="verificationCode" class="form-control"
								   id="verificationCode" required="required" placeholder="验证码" />
						</div>
						<div class="col-6">
							<img src="" id="captchaImg" style="cursor: pointer;" class="img-fluid" alt="验证码" />
						</div>
					</div>
					<div class="form-group row my-2 px-2">
						<div class="px-0">
							<div class="main-checkbox">
								<input type="checkbox" id="rememberUsername" name="check" /> <label
									for="rememberUsername">记住用户名</label>
							</div>
							<div class="my-2 main-checkbox">
								<button type="submit" class="btn btn-primary">登录</button>
								<a class="btn btn-sm" href="/signUp">注册</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

	<script src="../static/assets/jquery.min.js"
		th:src="@{/assets/jquery.min.js}"></script>
	<script src="../static/assets/bootstrap/js/bootstrap.min.js"
		th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/assets/localforage.min.js}"
		src="../static/assets/localforage.min.js"></script>
	<script th:inline="javascript">
    /*<![CDATA[*/
    	
    $(document).ready(function () {

        localforage.getItem('username').then(function (value) {
            // This code runs once the value has been loaded
            // from the offline store.
            if (value != null && value != "") {
                $("#username").val(value);
                $("#rememberUsername").prop("checked", "checked");
                $("#password").focus();
            }

        }).catch(function (err) {
            // This code runs if there were any errors
            console.log(err);
        });

       
        
        function refreshCaptha(){
        	$.ajax({
                url: "/captcha/graph",
                method: 'get',
                success: function (result) {
                    if (result.status < 1) {
                        Swal('Oops...', result.message, 'error');
                    } else {
                    	$("#graphId").val(result.graphId);
                    	$("#captchaImg").attr("src", result.graphUrl);
                    }
                }
            })
        }
        
        refreshCaptha();
        
        
        $("#captchaImg").on("click", function () {
        	refreshCaptha();
        })
        
        

        $("#signInForm").on("submit", function () {

            if ($("#rememberUsername").prop("checked")) {
                localforage.setItem('username', $("#username").val()).then(function (value) {
                    // Do other things once the value has been saved.
                }).catch(function (err) {
                    // This code runs if there were any errors
                    console.log(err);
                });
            } else {
                localforage.removeItem('username').then(function (value) {
                    // Do other things once the value has been saved.
                }).catch(function (err) {
                    // This code runs if there were any errors
                    console.log(err);
                });
            }


            $(this).parents("#signInForm").submit();
        })
    });
    /*]]>*/
</script>

</body>
</html>
