<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>sign in</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css"
          th:href="@{/assets/bootstrap/css/bootstrap.min.css}"/>
    <style type="text/css">
    </style>
</head>

<body>
<section>
    <div class="container mt-5">
        <div class="row">
            <div class="offset-3 col-6">
                <form id="signInForm" action="/security_check" method="post" class="form-horizontal">
                    <h3 class="text-center">登录</h3>
                    <div class="form-group">
                        <input type="text" name="username" class="form-control" id="username" required="required"
                               placeholder="登录名"/>
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="form-group help">
                        <input type="password" name="password" class="form-control" id="password" required="required"
                               placeholder="密　码"/>
                        <i class="fa fa-lock"></i>
                        <a href="#" class="fa fa-question-circle"></a>
                    </div>
                    <div class="form-group">
                        <div class="main-checkbox">
                            <input type="checkbox" id="rememberUsername" name="check"/>
                            <label for="rememberUsername">记住用户名</label>
                        </div>
                        <button type="submit" class="btn btn-primary">登录</button>
                        <a class="btn btn-sm" href="/signUp">注册</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="../static/assets/jquery-3.3.1.min.js"
        th:src="@{/assets/jquery-3.3.1.min.js}"></script>
<script src="../static/assets/bootstrap/js/bootstrap.min.js"
        th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/localforage.min.js}" src="../static/assets/localforage.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {

        localforage.getItem('username').then(function (value) {
            // This code runs once the value has been loaded
            // from the offline store.
            if (value != null && value != "") {
                $("#username").val(value);
                $("#rememberUsername").prop("checked", "checked");
                $("#password").focus();
            }

        }).catch(function (err) {
            // This code runs if there were any errors
            console.log(err);
        });

        $("#signInForm").on("submit", function () {

            if ($("#rememberUsername").prop("checked")) {
                localforage.setItem('username', $("#username").val()).then(function (value) {
                    // Do other things once the value has been saved.
                }).catch(function (err) {
                    // This code runs if there were any errors
                    console.log(err);
                });
            } else {
                localforage.removeItem('username').then(function (value) {
                    // Do other things once the value has been saved.
                }).catch(function (err) {
                    // This code runs if there were any errors
                    console.log(err);
                });
            }


            $(this).parents("#signInForm").submit();
        })
    });
    /*]]>*/
</script>

</body>
</html>